{% extends "base.html" %}

{% block content %}
<div class="container">

  <div class="columns is-mobile is-centered mt-1">
    <div class="photo-circle"></div>
  </div>
  <h1 class="title has-text-centered">Oleg Perchyk</h1>
  <h2 class="subtitle has-text-centered">
    I'm a software engineer, recommendation engines researcher, and maker.
  </h2>

  <h2 class="subtitle has-text-centered">Learn more
    <a href="/about/about">about me</a> or check out my <a href="/blog">blog</a>.
  </h2>

  <hr />

  <!-- Posts Preview  -->
  <div class="content">
    <h3 class="has-text-weight-bold">Recent Posts</h3>
    <div class="box">
      <article class="post">
        <a href="/blog/02-an-ultralearning-approach-to-the-technical-interview/">
          <h4 class="has-text-weight-bold">An Ultralearning Approach to the Technical Interview</h4>
          <p>2024-06-21</p>
          </Link>
          <div class="media">
            <p>In 2023 I interviewed with Amazon and Google. Both were eye opening experiences and exposed me to the rigor and extreme caution that big tech companies take with their hiring process. Their philosophy, as I’ve come to understand, is that passing on a few good candidates is better than hiring one bad egg. This poses an especially big challenge for us humble interviewees because we need to be extremely prepared, knowledgeable and level-headed come interview time...</p>
          </div>
        </a>
      </article>
    </div>
  </div>

</div>
{% endblock content %}
